- let Titulo = "Miguel Angel Castro Escamilla";
- let Imagen = "img/imagen.png";
- let Ruta = "https://www.unc.edu.co/curso-de-fundamentos-de-html-y-css/";
- let Parrafo = "Tecnólogo en ADSI con enfoque en creación de páginas web y analista en base de datos MYSQL. Conocimientos en adobe illustrator cc 2020...";
- let Boton = "Mostrar Curso";
- let Icono = "close-outline";
- let Ventana = "Mostrar Ventana";